<div class="container">
    <div class="register-div">
        <h4 class="maintitle">Add new Account</h4>
        <form action="/user/newaccount" method="post" class="form-controll">
            <label for="accountname">Account Name</label>
            <input type="text" name="accountname">
            <label for="Description">Description</label>
            <input type="text" name="desc">
            <label for="members">Choose your members:</label>
                <select name="members" id="members">members
                    <option value="">swain@gmail.com</option>
                    <option value="">chintu@gmail.com</option>
                </select>
            <div class="row">
                <input type="submit" class="btn formbtn" value="submit">
                <a href="/user" class="btn formbtn">back</a>
            </div> 
        </form>
    </div>
    
</div>