<div class="row"  style="margin-top: 20%; color:aliceblue; text-align:center;">
    <h1>welcome to Expense Manager!</h1>
<h6>please.. <a href="/signup">Register</a>or <a href="/login">Login!</a></h6>
</div>
